<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ system.system_name }} | LambdaITSM Wiki</title>

    <link rel="stylesheet" href="/static/css/style.css" />
</head>

<body>

<div class="container">
    <header>
        <a href="/" class="back-link">
            ← Back to Runbooks
        </a>
        <h1>{{ system.system_name }}</h1>
        <p>
            Critical System
        </p>
    </header>
    <section class="runbook-meta">

        <div class="meta-item">
            <span class="meta-label">System ID</span>
            <span>{{ system.id }}</span>
        </div>

        <div class="meta-item">
            <span class="meta-label">Client ID</span>
            <span>{{ system.client_id }}</span>
        </div>

        <div class="meta-item">
            <span class="meta-label">System Name</span>
            <span>{{ system.system_name }}</span>
        </div>

        <div class="meta-item">
            <span class="meta-label">Created At</span>
            <span>{{ system.created_at }}</span>
        </div>

    </section>

</div>
<script src="/static/js/main.js"></script>
</body>
</html>
